{% extends "layout.twig" %} {% block menu %} {% include "admin/menu-admin.twig" %} {% endblock %} 


{% block body %}

	<div class="btn-toolbar mt20">
{% if item  %}
{# 		<div class="btn-group">#}
{# 		  <a target="_blank" href="{{ item.url }}"  class="btn btn-default">Event Landing Page</a>#}
{# 		  <a target="_blank" href="{{ item.signupUrl }}"  class="btn btn-default">Event Register Page</a>#}
{# 		</div>#}
{% else %}	
		<div class="btn-group pull-right">
		  <a data-toggle="collapse" href="#eventForm" class="btn btn-info">Create Event</a>
		</div>
{% endif %}	
	</div>


<div class="mt20">

    <div id="eventForm" {% if not item  %}class="collapse"{% endif %}>
	{% include "admin/event_form.twig" %}
    </div>

</div>
<div class="mt20">

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Event Name</th>
				<th>Location</th>
				<th>Store</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for item in events %}
			<tr>
				<th scope="row">{{ item.id }}</th>
				<td>{{ item.label }}</td>
				<td>{{ item.location.label }}</td>
				<td>{{ item.store.label }}</td>
				<td>
				{% if item.id != 1 %}
				<a href="/admin/events?id={{ item.id }}">edit</a>
				{% endif %}
				</td>
				<td>
				{% if item.id != 1 %}
				<a data-confirm="Are you sure you want to permanently delete this event and all it's realted data? This action cannot be undone " href="/admin/events/delete?id={{ item.id }}">delete</a>
				{% endif %}
				</td>
			
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>

{% endblock %}
