
<div class="panel panel-default mt20">
	<div class="panel-heading">
	
	</div>
	<div class="panel-body">
	<form role="form" autocomplete="off" method="post">
			<fieldset>
				<div class="form-group">
					<label>Username</label>
					<input class="form-control" autocomplete="off" placeholder="Username" name="username" type="text" autofocus="" value="{{ item.username }}">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input class="form-control" autocomplete="off" placeholder="Password" name="password" type="password" value="">
				</div>
				<div class="form-group">
				     <label>Name</label>
					<input class="form-control" autocomplete="off" placeholder="Name" name="name" type="text" value="{{ item.name }}" >
				</div>
				<div class="form-group">
					<label>Surname</label>
					<input class="form-control" autocomplete="off" placeholder="Surname" name="surname" type="text" value="{{ item.surname }}">
				</div>
				<button type="submit" class="btn btn-block btn-success">{% if item %}Edit{% else %}Create{% endif %} Hostess</button>
			</fieldset>
		</form>
	</div>
</div>	
	
	{% if item.id %}


<div class="panel panel-default mt20">
	
	<div class="panel-heading">
	Linked Events
	</div>
	
	<div class="panel-body">
		<table class="table">
		{% for hu in item.events %}
		<tr>
		<td>{{ hu.name }}</td>
		</tr>
		{% endfor %}
		</table>

		<form role="form" action="/admin/event_user" autocomplete="off" method="post">
			
			<input type="hidden" name="user_id" value="{{ item.id }}">
		
			<div class="mt20">
			<select name="event_id" id="event_id">
			<option>Select Event</option>
			{% for mitem in events %}
			{% if mitem.id != 1 %}
			   <option value="{{ mitem.id }}">{{ mitem.name }}</option>
			   {% endif %}
			{% endfor %}
			</select>
			</div>
		
			<div class="mt20">
				<button type="submit" class="btn btn-block btn-default">Assign Event to Hostess</button>
			</div>
		</form>
    </div>
</div>
{% endif %}