{% extends "layout.twig" %}
{% block menu %}
    {% include "admin/menu-admin.twig" %}
{% endblock %}


{% block body %}
<h3>{{ "Attendance"|trans }}</h3>

<style>
.bt1 {
	border-top: 2px solid black !important;
}

.bt1 td {
	padding-top: 20px !important;
}

</style>


<table class="table mt20">
  <tr>
    <th>{{ "Last 7 days"|trans }}</th>
    <th>{{ since.howmany[0] }}</th>
    <th>{{ "From the beginning"|trans }}</th>
    <th>{{ overall.howmany[0] }}</th>
  </tr>
  
  {% for prize in distinctprizes %}
  <tr>
    <td>{{ prize }}</td>
    <td>{{ since.prizes[prize] }}</td>
    <td></td>
    <td>{{ overall.prizes[prize] }}</td>
  </tr>
  {% endfor %}
  <tr class="bt1">
    <td>{{ "Men"|trans }}</td>
    <td>{{ since.gender.M }}</td>
    <td></td>
    <td>{{ overall.gender.M }}</td>
  </tr>
  <tr>
    <td>{{ "Women"|trans }}</td>
    <td>{{ since.gender.F }}</td>
    <td></td>
    <td>{{ overall.gender.F }}</td>
  </tr>
  {% for country in distinctcountries %}
  <tr class="{% if loop.first  %}bt1{% endif %}">
    <td>{{ country }}</td>
    <td>{{ since.country[country]  }}</td>
    <td></td>
    <td>{{ overall.country[country] }}</td>
  </tr>
  {% endfor %}
  {% for model in distinctmodels %}
  <tr class="{% if loop.first  %}bt1{% endif %}">
    <td>{{ model }}</td>
    <td>{{ since.model[model] }}</td>
    <td></td>
    <td>{{ overall.model[model] }}</td>
  </tr>
  {% endfor %}
</table>

<div class="mt20">
<a href="/admin/leads" class="btn btn-info btn-block">{{ "View all leads"|trans }}</a>
</div>


<hr class="mt20">

{# <pre>#}

{#   `id` int(11) unsigned NOT NULL AUTO_INCREMENT,#}
{#   `name` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `surname` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `address` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `country` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `lang` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `email` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `model` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `prize` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `day` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `month` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `hour` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `gender` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `pp` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `mvf` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `mgr` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}
{#   `date_create` varchar(191) COLLATE utf8mb4_unicode_ci DEFAULT NULL,#}

{# </pre>#}

<div class="well mt20">

<form method="post" action="/">
<div class="form-group"><label>name</label><input class="form-control"  type="text" name="name" value="matteo"/></div>
<div class="form-group"><label>surname</label><input class="form-control"  type="text" name="surname" value="monti"/></div>
<div class="form-group"><label>city</label><input class="form-control"  type="text" name="city" value="Lecco"/></div>
<div class="form-group"><label>country</label><input class="form-control"  type="text" name="country" value="IT"/></div>
<div class="form-group"><label>lang</label><input class="form-control"  type="text" name="lang" value="IT"/></div>
<div class="form-group"><label>email</label><input class="form-control"  type="text" name="email" value="mmonti+test@gmail.com"/></div>
<div class="form-group"><label>model</label><input class="form-control"  type="text" name="model" value="model 2"/></div>
<div class="form-group"><label>prize</label><input class="form-control"  type="text" name="prize" value="Prize Y"/></div>
<div class="form-group"><label>day</label><input class="form-control"  type="text" name="day" value="dd1"/></div>
<div class="form-group"><label>month</label><input class="form-control"  type="text" name="month" value="mm2"/></div>
<div class="form-group"><label>hour</label><input class="form-control"  type="text" name="hour" value="12"/></div>
<div class="form-group"><label>gender</label><input class="form-control"  type="text" name="gender" value="m"/></div>
<div class="form-group"><label>pp</label><input class="form-control"  type="text" name="pp" value="Y"/></div>
<div class="form-group"><label>mvf</label><input class="form-control"  type="text" name="mvf" value="Y"/></div>
<div class="form-group"><label>mgr</label><input class="form-control"  type="text" name="mgr" value="Y"/></div>
<div class="form-group"><label>birthdate</label><input class="form-control"  type="text" name="birthdate" value="1974-11-28"/></div>

<button type="submit" class="btn btn-info btn-block">Submit form</button>
</form>
</div>






{% endblock  %}