{% if items %}
<select class="form-control" multiple="multiple" name="filters[{{ name }}][value]">
	{% for item in items %}
	    <option {% if filters[name] and item in filters[name][value] %} selected {% endif %}>{{ item }}</option>
	{% endfor %}
</select>
{% else %}
	<input class="form-control" type="text" name="filters[{{ name }}][value]" value="{{ filters[name].value }}">
	<input  type="hidden" name="filters[{{ name }}][type]" value="like">
{% endif %}


