{% extends "layout.twig" %}
{% block menu %}
{% include "admin/menu-admin.twig" %}
{% endblock %}

{% block layouttype %}container-fluid{% endblock %}


{% block logo %}
{% endblock %}

{% block body %}

<style>

.th-inner {
	overflow: visible !important;
	  overflow-x: visible !important;
	  overflow-y: visible !important;
}

</style>


{# <div class="mt20">#}
{# 	<form role="form" action="/admin/leads" autocomplete="off" method="get">#}
{# 	<div class="mt20">	#}
{#         {% include "snippets/select.twig" with {name: 'event_id', items : events, label: 'Please Select An Event', selectedvalue : event_id, autosubmit : true} %}</div>#}
{# 	</form>#}
{# </div>#}
	<form role="form" action="/admin/leads" autocomplete="off" method="post">


	<div class="btn-toolbar mt20">
		<div class="btn-group pull-right">
		  <button type="submit" name="action" value="export" class="btn btn-info">Export CSV</button>
		</div>
	</div>


<div class="mt20">

 {% include "admin/lead-pagination.twig" %}
<script type="text/javascript">

function monthSorter(a, b) {
    if (a.month < b.month) return -1;
    if (a.month > b.month) return 1;
    return 0;
}

 </script>
 
 
    <div class="table-responsive">
	<table class="table table-bordered filterable" data-toggle="table">
		<thead>
			<tr>
				<th>#</th>
				<th data-field="fruit" data-sortable="true">Name</th>
				<th data-field="fruit" data-sortable="true">Surname</th>
				<th data-field="email" data-sortable="true">Email</th>
				<th data-field="gender" data-sortable="true">Gender</th>
				<th data-field="birthdate" data-sortable="true">Birthdate</th>
{# 				<th data-field="address" data-sortable="true">Address</th>#}
				<th data-field="city" data-sortable="true">City</th>
				<th data-field="country" data-sortable="true">Country</th>
				<th data-field="hour"  data-sortable="true">Hour</th>
				<th data-field="day"  data-sortable="true">Day</th>
				<th data-field="month"  data-sortable="true">Month</th>
				<th data-field="prize"  data-sortable="true">Prize</th>
				<th data-field="model"  data-sortable="true">Model</th>
				<th data-field="pp"  data-sortable="true">Privacy Policy</th>
				<th data-field="mvf"  data-sortable="true">MKT VF</th>
				<th data-field="mgr"  data-sortable="true">MKT GR</th>
				<th data-field="date"  data-sortable="true">Create Date</th>
			</tr>
			<tr>
				<th></th>
				<th>{% include "admin/lead-filter.twig" with {name: 'name'} %}</th>
				<th>{% include "admin/lead-filter.twig" with {name: 'surname'} %}</th>
				<th>{% include "admin/lead-filter.twig" with {name: 'email'} %}</th>
				<th>{% include "admin/lead-filter.twig" with {'items': distinctgenders, name: 'gender'} %}</th>
				<th></th>
{# 				<th>{% include "admin/lead-filter.twig" with {name: 'address'} %}</th>#}
				<th>{% include "admin/lead-filter.twig" with {'items': distinctcities, name: 'city'} %}</th>
				<th>{% include "admin/lead-filter.twig" with {'items': distinctcountries, name: 'country'} %}</th>
				<th>{% include "admin/lead-filter.twig" with {'items': distincthours, name: 'hour'} %}</th>
				<th>{% include "admin/lead-filter.twig" with {'items': distincthays, name: 'day'} %}</th>
				<th>{% include "admin/lead-filter.twig" with {'items': distinctmonths, name: 'month'} %}</th>
				<th>{% include "admin/lead-filter.twig" with {'items': distinctprizes, name: 'prize'} %}</th>
				<th>{% include "admin/lead-filter.twig" with {'items': distinctmodels, name: 'model'} %}</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for item in leads %}
			<tr>
				<td scope="row">{{ item.id }}</td>
				<td scope="row">{{ item.name }}</td>
				<td scope="row">{{ item.surname }}</td>
				<td scope="row">{{ item.email }}</td>
				<td scope="row">{{ item.gender }}</td>
				<td scope="row">{{ item.birthdate }}</td>
{# 				<td scope="row">{{ item.address }}</td>#}
				<td scope="row">{{ item.city }}</td>
				<td scope="row">{{ item.country }}</td>
				<td scope="row">{{ item.hour }}</td>
				<td scope="row">{{ item.day }}</td>
				<td scope="row">{{ item.month }}</td>
				<td scope="row">{{ item.prize }}</td>
				<td scope="row">{{ item.model }}</td>
				<td scope="row">{{ item.pp }}</td>
				<td scope="row">{{ item.mvf }}</td>
				<td scope="row">{{ item.mgr }}</td>
				<td scope="row">{{ item.date_create|date("d/m/Y") }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
    {% include "admin/lead-pagination.twig" %}

</div>



{# {% else %}#}
{# No leads found for event {{ event.label }}#}
{# {% endif %}#}



	</form>

{% endblock %}

{% block pagescripts %}


<script type="text/javascript">
<!--
$(document).ready(function(){

    $('.filterable input').keyup(function(e){
        /* Ignore tab key */
        var code = e.keyCode || e.which;
        if (code == '9') return;
        /* Useful DOM data and selectors */
        var $input = $(this);
        var inputContent = $input.val().toLowerCase();

        if(inputContent.length == 0){
            this.form.submit();
        }

        
        if(inputContent.length >= 3){
            this.form.submit();
        }
    });


   	 $('.multiselect').multiselect({
    		includeSelectAllOption: true,
   		 onChange: function(option, checked, select) {
             console.debug('Changed option ' + $(option).val() + '.');
             this.form.submit();
         }
   	 });
    
    
    $('.filterable select').on("change", function(e){
        console.debug("change",e);
        this.form.submit();
    });    
    
});
//-->
</script>
{% endblock %}