<style>
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
  }
</style>
<ul class="pagination">
  {% for number, position in pages %}
    {% if position == 'first' %}
      <li><button name="page" type="submit" class="btn btn-default" name="page" value="{{ number }}">&laquo;</button></li>
    {% elseif position == 'less' or position == 'more' %}
      <li><button name="page" type="submit" class="btn btn-default disabled" >...</button></li>
    {% elseif position == 'previous' or position == 'next' %}
      <li><button name="page" type="submit" class="btn btn-default" name="page" value="{{ number }}">{{ number }}</button></li>
    {% elseif position == 'current' %}
      <li><button name="page" type="submit" class="btn btn-default" disabled>{{ number }}</button></li>
    {% elseif position == 'last' %}
      <li><button name="page" type="submit" class="btn btn-default" name="page" value="{{ number }}">&raquo;</button></li>
    {% endif %}
  {% endfor %}
</ul>