{% extends "layout.twig" %}
{% block menu %}
{% include "admin/menu-admin.twig" %}
{% endblock %}
{% block body %}
<div class="mt20">
	<form role="form" action="/admin/leads" autocomplete="off" method="get">
	<div class="mt20">	
        {% include "snippets/select.twig" with {name: 'event_id', items : events, label: 'Please Select An Event', selectedvalue : event_id, autosubmit : true} %}</div>
	</form>
</div>



	<div class="btn-toolbar mt20">
{% if event  %}
		<div class="btn-group">
		  <a target="_blank" href="{{ event.url }}"  class="btn btn-default">Event Landing Page</a>
		  <a target="_blank" href="{{ event.signupUrl }}"  class="btn btn-default">Event Register Page</a>
		</div>
{% endif %}	
		<div class="btn-group pull-right">
		{% if event  %}
		  <a href="/admin/exporter/leads/{{ event_id }}" class="btn btn-info">Export Event List</a>
		{% else %}	
		  <a href="/admin/exporter/leads" class="btn btn-info">Export Full List</a>
		{% endif %}	
		</div>
	</div>


<div class="mt20">

 {% include "admin/lead-pagination.twig" %}
<script type="text/javascript">

function monthSorter(a, b) {
    if (a.month < b.month) return -1;
    if (a.month > b.month) return 1;
    return 0;
}

 </script>
	<table class="table table-bordered" data-toggle="table">
		<thead>
			<tr>
				<th>#</th>
				<th data-field="fruit" data-sortable="true">Name/Surname</th>
				<th data-field="email" data-sortable="true">Email</th>
				<th>Age</th>
				<th data-field="location"  data-sortable="true">Location</th>
				<th data-field="type"  data-sortable="true">Store</th>
				<th data-field="type"  data-sortable="true">Hostess</th>
				<th data-field="date"  data-sortable="true">Date</th>
			</tr>
		</thead>
		<tbody>
			{% for item in leads %}
			<tr>
				<td scope="row">{{ item.id }}</td>
				<td scope="row">{{ item.name }} {{ item.surname }}</td>
				<td scope="row">{{ item.email }}</td>
				<td scope="row">{{ item.age()  }}</td>
				<td scope="row">{{ item.event.location.label }}</td>
				<td scope="row">{{ item.event.store.label }}</td>
				<td scope="row">{{ item.hostess().label }}</td>
				<td scope="row">{{ item.date_create }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
    {% include "admin/lead-pagination.twig" %}

</div>

{# {% else %}#}
{# No leads found for event {{ event.label }}#}
{# {% endif %}#}





{% endblock %}