{% extends "layout.twig" %}
{% block menu %}
    {% include "admin/menu-admin.twig" %}
{% endblock %}


{% block body %}
<div class="mt20">
<h3>{% if item %}Edit Store #{{ item.id }} {% else %}Create New Store {% endif %}</h3>
	{% include "admin/store_form.twig" %}
</div>
<div class="mt20">

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for item in stores %}
			<tr>
				<th scope="row">{{ item.id }}</th>
				<td>{{ item.name }}</td>
				<td>
				{% if item.id != 1 %}
				    <a href="/admin/stores/edit/id/{{ item.id }}">edit</a>
				{% endif %}
				</td>
				<td>
				{% if item.id != 1 %}
				    <a data-confirm="Are you sure you want to permanently delete this store?" href="/admin/stores/delete?id={{ item.id }}">delete</a>
				{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>

{% endblock %}