<div class="form-group">
    <label>{{ label | default('Place a label') }}</label>
{#     <div class="input-group"></div>#}
	<input type="{{ type | default('text') }}" placeholder="{{ placeholder }}" name="{{ name }}" id="{{ name }}" value="{{ selectedvalue }}" class="form-control"  {% if required %} data-error="{{ data_error }}"   required="required"{% endif %} {{ extra }}>
	<div class="help-block with-errors"></div>
</div>